@model SolucionKermesseGrupo2.Models.VwProducto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}


<div class="mx-auto" style="margin-top: 150px;">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Formulario -->
            <div class="container">

                <div class="row ">

                    <div class="col-lg-10 mx-auto m-auto">

                        <div class="card rounded shadow border-0 card-secondary">

                            <div class="card-header text-center">
                                <h2>
                                    Detalles Productos
                                </h2>
                            </div>

                            <div class="card-body bg-white rounded text-center">

                                <div class="">
                                    <div class="">
                                        <label>Comunidad:</label>
                                        <br />
                                        <span class="info-box-text">@Html.DisplayFor(model => model.Comunidad)</span>
                                        <hr class="sidebar-divider my-2">

                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                        <label>Categoria:</label>
                                        <br />
                                        <span class="info-box-text">@Html.DisplayFor(model => model.Categoria)</span>
                                        <hr class="sidebar-divider my-2">
                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                        <label>Producto:</label>
                                        <br />
                                        <span class="info-box-text">@Html.DisplayFor(model => model.Producto)</span>
                                        <hr class="sidebar-divider my-2">
                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                        <label>Descripción:</label>
                                        <br />
                                        <span class="info-box-text">@Html.DisplayFor(model => model.descripcion)</span>
                                        <hr class="sidebar-divider my-2">
                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                        <label>Cantidad:</label>
                                        <br />
                                        <span class="info-box-text">@Html.DisplayFor(model => model.cantidad)</span>
                                        <hr class="sidebar-divider my-2">
                                    </div>
                                </div>
                                <div class="">
                                    <div class="">
                                        <label>Precio Sugerido:</label>
                                        <br />
                                        <span class="info-box-text">@Html.DisplayFor(model => model.precioVSugerido)</span>


                                    </div>
                                </div>
                                <div class="text-center mt-4">
                                    <a href="@Url.Action("Index","Producto")">
                                        <i class="fas fa-arrow-circle-left"></i>&nbsp;Volver a la tabla
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->
    </div>