@model SolucionKermesseGrupo2.Models.Producto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}

    

    <div class="mx-auto" style="margin-top: 150px;">
        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Formulario -->
                <div class="container">

                    <div class="row ">

                        <div class="col-lg-10 mx-auto m-auto">

                            <div class="card rounded shadow border-0">

                                <div class="card-header">
                                    <div style="margin-left:300px;">
                                        <h2>
                                            Editar Producto
                                        </h2>
                                    </div>
                                </div>

                                <div class="card-body bg-white rounded">
                                    @using (Html.BeginForm("Edit", "Producto", FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.idProducto)

                                        <div class="form-group row">
                                            <div class="col-sm-12 mb-3">
                                                <label>Comunidad:</label>
                                                @Html.DropDownListFor(model => model.comunidad, null, htmlAttributes: new { @class = "form-control form-control-user" })
                                                @Html.ValidationMessageFor(model => model.comunidad, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-12 mb-3">
                                                <label>Categoria Producto:</label>
                                                @Html.DropDownListFor(model => model.catProd, null, htmlAttributes: new { @class = "form-control form-control-user" })
                                                @Html.ValidationMessageFor(model => model.catProd, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-12 mb-3">
                                                <label>Nombre:</label>
                                                @Html.TextBoxFor(x => x.nombre, new { @class = "form-control form-control-user" })
                                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })

                                            </div>
                                            <div class="col-sm-12 mb-3">
                                                <label>Descripcion:</label>
                                                @Html.TextAreaFor(x => x.descripcion, new { @class = "form-control form-control-user" })
                                                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-12 mb-3">
                                                <label>Cantidad:</label>
                                                @Html.TextBoxFor(x => x.cantidad, new { @class = "form-control form-control-user" })
                                                @Html.ValidationMessageFor(model => model.cantidad, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-sm-12 mb-3">
                                                <label>Precio_Venta:</label>
                                                @Html.TextBoxFor(x => x.precioVSugerido, new { @class = "form-control form-control-user" })
                                                @Html.ValidationMessageFor(model => model.precioVSugerido, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="text-center form-group">
                                            <input class="btn btn-primary btn-block" type="submit" value="Guardar" />
                                            <input class="btn btn-danger btn-block" type="reset" value="Cancelar" />
                                        </div>
                                        <div class="text-center">
                                            <a href="@Url.Action("Index","Producto")">
                                                <i class="fas fa-arrow-circle-left"></i>&nbsp;Volver a la tabla
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>

    </div>

