@model IEnumerable<SolucionKermesseGrupo2.Models.ArqueoCajaDet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}
@Styles.Render("~/Views/Shared/_Layout.cshtml")
@Styles.Render("~/Views/Shared/_LayoutControladores.cshtml")


<div class="mx-auto" style="margin-top: 150px;">
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Arqueo Caja Detalle</h1>

        <!-- DataTales Banner -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gestión Caja Detalle</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="Prod" width="100%" cellspacing="0">
                        <div class="text-left" style="margin-left:1162px;"><a href="@Url.Action("Create","ArqueoCajaDets")"><i class="fas fa-user-plus"></i>&nbsp; Nuevo Arqueo Caja Det</a></div>

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Moneda1.nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Denominacion1.valorLetras)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cantidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.subtotal)
                                </th>
                                @* <th>
            @Html.DisplayNameFor(model => model.ArqueoCaja1.idArqueoCaja)
        </th>*@


                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tfoot>

                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Moneda1.nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Denominacion1.valorLetras)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cantidad)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.subtotal)
                                </th>
                                @*<th>
            @Html.DisplayNameFor(model => model.ArqueoCaja1.idArqueoCaja)
        </th>*@
                                <th>Opciones</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Moneda1.nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Denominacion1.valorLetras)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.cantidad)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.subtotal)
                                </td>
                                @*    <td>
            @Html.DisplayFor(modelItem => item.ArqueoCaja1.idArqueoCaja)
        </td>*@


                            <td>
                                <span style="cursor:pointer;" title="Ver detalles"><a href="@Url.Action("Details", "ArqueoCajaDets", new { id = item.idArqueoCajaDet })" style="color:blue;" title="Detalle Arqueo">&nbsp;<i class="fas fa-eye"></i></a></span>
                                <span style="cursor:pointer;" title="Editar"><a href="@Url.Action("Edit", "ArqueoCajaDets", new { id = item.idArqueoCajaDet })" style="color:blue;" title="Editar">&nbsp;<i class="fas fa-edit"></i></a></span>
                                <span style="cursor:pointer;" title="Eliminar"><a href="@Url.Action("Delete", "ArqueoCajaDets", new { id = item.idArqueoCajaDet })" style="color:red;" title="Eliminar Arqueo">&nbsp;<i class="fas fa-trash"></i></a></span>
                            </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#Prod').DataTable({
                dom: 'Bfrtip',
                buttons: [{
                    extend: 'pdf', text: '<i class="fas fa-file-pdf" style="margin-right:10px"></i>PDF', titleAttr: 'PDF',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'excel', text: '<i class="fas fa-file-excel" style="margin-right:10px"></i>Excel', titleAttr: 'Excel',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'print', text: '<i class="fas fa-print" style="margin-right:10px"></i>Imprimir', titleAttr: 'Imprimir',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
                ],
                initComplete: function () {
                    var btns = $('.dt-button');
                    btns.addClass('btn btn-outline-primary btn-sm');
                    btns.removeClass('dt-button');
                }
            });
        });
    </script>
}