@model SolucionKermesseGrupo2.Models.IngresoComunidadDet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Detalles Ingreso</h2>

<head>
    @Styles.Render("~/Content/StyleSheetIngresoComunidad.css")
    @Styles.Render("~/Content/Site.css")
</head>

<div>
    <h4>IngresoComunidadDet</h4>
    <hr />
    <dl class="dl-horizontal" id="DetIngresoComunidad">
        <dt>
            @Html.DisplayNameFor(model => model.denominacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.denominacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subTotalBono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subTotalBono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ControlBono.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ControlBono.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IngresoComunidad1.idIngresoComunidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IngresoComunidad1.idIngresoComunidad)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idIngresoComunidadDet }) |
    @Html.ActionLink("Regresar a la página principal", "Index")
</p>
