@model SolucionKermesseGrupo2.Models.Rol

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Detalles de Roles</h2>

<head>
    @Styles.Render("~/Content/StyleSheetDetallesRoles.css")
    @Styles.Render("~/Content/Site.css")
</head>
<div>
  
    <hr />
    <dl class="dl-horizontal" id="detroles">
        <dt>
          <u> @Html.DisplayNameFor(model => model.rolDescripcion)</u>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rolDescripcion)
        </dd>

     

     

    </dl>
</div>
<br />
<br />
<br />
<p id="BtnsHome">
    @Html.ActionLink("Editar", "Edit", new { id = Model.idRol }) |
    @Html.ActionLink("Regresar a la página principal", "Index")
</p>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
