@model SolucionKermesseGrupo2.Models.IngresoComunidad

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Create</h2>
<h2>Crear Nueva Comunidad</h2>
<head>
    @Styles.Render("~/Content/StyleSheetIngresoComunidad.css")
    @Styles.Render("~/Content/Site.css")
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.kermesse, "Kermesse", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("kermesse", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.kermesse, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.comunidad, "Comunidad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("comunidad", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.comunidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.producto, "Producto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("producto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.producto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.cantProducto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cantProducto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cantProducto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.totalBonos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.totalBonos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.totalBonos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.usuarioCreacion, "Usuario Creacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("usuarioCreacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.usuarioCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.fechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaCreacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaCreacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.usuarioModificacion, "Usuario Modificacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("usuarioModificacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.usuarioModificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.fechaModificacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaModificacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaModificacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.usuarioEliminacion, "Usuario Eliminacion", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("usuarioEliminacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.usuarioEliminacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblFormICM">
            @Html.LabelFor(model => model.fechaEliminacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaEliminacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaEliminacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" id="Boton" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la página principal", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />