@model SolucionKermesseGrupo2.Models.Comunidad

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Editar Comunidad <img id="iconouser" src="~/Content/img/flat-g924eb82b4_1280.png" /></h2>

<head>
    @Styles.Render("~/Content/StyleSheetComunidad.css")
    @Styles.Render("~/Content/Site.css")
</head>


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div class="form-horizontal" id="FormularioComunidad">

        <hr />
        <br />
        <br />
        <br />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.idComunidad)
        <div id="Container">
            <br />
            <br />
            <br />
            <div class="center">
                <div class="form-group" id="ItemFormComunidadMain">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2 , TitleEdit" })
                    <div class="col-md-10" id="FormEdit">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="ItemFormComunidad">
                    @Html.LabelFor(model => model.responsble, htmlAttributes: new { @class = "control-label col-md-2 , TitleEdit" })
                    <div class="col-md-10" id="FormEdit">
                        @Html.EditorFor(model => model.responsble, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.responsble, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" id="ItemFormComunidad">
                    @Html.LabelFor(model => model.descContribucion, htmlAttributes: new { @class = "control-label col-md-2 , TitleEdit" })
                    <div class="col-md-10" id="FormEdit">
                        @Html.EditorFor(model => model.descContribucion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.descContribucion, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*  <div class="form-group" id="ItemFormComunidad">
                        @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2 , TitleEdit" })
                        <div class="col-md-10" id="FormEdit">
                            @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="Container">
            <div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" id="BtnGuardar" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Regresar a la página principal", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
