@model SolucionKermesseGrupo2.Models.Moneda

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Crear Nueva Moneda</h2>

<head>
    @Styles.Render("~/Content/StyleSheetCreateMoneda.css")
    @Styles.Render("~/Content/Site.css")
</head>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="FormMonedaG">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" id="lblMonedaForm1">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblMonedaForm2">
            @Html.LabelFor(model => model.simbolo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.simbolo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.simbolo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" id="lblMonedaForm3">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" id="Boton" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la página principal", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />