@model IEnumerable<SolucionKermesseGrupo2.Models.Opcion>

@{
    ViewBag.Title = "TablaOpciones";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}
<head>
    @Styles.Render("~/Content/StyleSheetEdit.css")
    @Styles.Render("~/Content/Site.css")
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h2>Opciones</h2>

@using (Html.BeginForm("Index", "Opcions", FormMethod.Post))
{
    <div class="row">
        <div class="form-group">

            @Html.TextBox("ValorBusqued", "", new { @class = "form-control col-md-8" })
            <button type="submit" class="btn btn-success col-md-2">Buscar</button>
        </div>

    </div>

}

<div id="Container">
    <div class="center">
        <table class="table" id="tablita">
            <tr>
                <th id="titulo1">

                    @Html.DisplayNameFor(model => model.opcionDescripcion)

                </th>
                @*<th id="titulo2">
                    @Html.DisplayNameFor(model => model.estado)

                </th>*@
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td id="valor1">
                        @Html.DisplayFor(modelItem => item.opcionDescripcion)
                    </td>
                    @*<td id="valor2">
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>*@
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idOpcion }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.idOpcion }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idOpcion })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


<br />
<div id="Container">
    <div class="center">
        <a class="btn btn-primary" id="BtnCrear" href="@Url.Action("Create")" role="button">Crear nuevo</a>
    </div>
</div>

<p>
    @Html.ActionLink("Exportar a PDF", "VerReporte", new { tipo = "PDF" })
</p>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
