@model SolucionKermesseGrupo2.Models.VwListaPrecioDet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VwListaPrecioDet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioVenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idListaPrecioDet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
