@model SolucionKermesseGrupo2.Models.VwListaPrecio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VwListaPrecio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kermesse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kermesse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parroquia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parroquia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.listaPrecio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.listaPrecio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idListaPrecio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
