@model SolucionKermesseGrupo2.Models.Gasto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}

<div class="mx-auto" style="margin-top: 150px;">
    <div id="wrapper">

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Formulario -->
            <div class="container">

                <div class="row ">

                    <div class="col-lg-10 mx-auto m-auto">

                        <div class="card rounded shadow border-0">

                            <div class="card-header">
                                <h2>
                                    Gasto
                                </h2>
                            </div>

                            <div class="card-body bg-white rounded">
                                @using (Html.BeginForm("Create", "Gastoes", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3">
                                            <label>Kermesse:</label>
                                            @Html.DropDownList("kermesse", null, htmlAttributes: new { @class = "form-control form-control-user" })
                                            @Html.ValidationMessageFor(model => model.kermesse, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <label>Categoria Gasto:</label>
                                            @Html.DropDownList("catGasto", null, htmlAttributes: new { @class = "form-control form-control-user" })
                                            @Html.ValidationMessageFor(model => model.catGasto, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <label>Concepto:</label>
                                            @Html.EditorFor(model => model.concepto, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                            @Html.ValidationMessageFor(model => model.concepto, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <label>Monto:</label>
                                            @Html.EditorFor(model => model.monto, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                            @Html.ValidationMessageFor(model => model.monto, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-12 mb-3">
                                            <label>Fecha:</label>
                                            @Html.EditorFor(model => model.fechGasto, new { htmlAttributes = new { @class = "form-control form-control-user" } })
                                            @Html.ValidationMessageFor(model => model.fechGasto, "", new { @class = "text-danger" })
                                        </div>
                                     

                                    </div>
                                    <div class="text-center form-group">
                                        <input class="btn btn-primary btn-block" type="submit" value="Guardar" />
                                        <input class="btn btn-danger btn-block" type="reset" value="Cancelar" />
                                    </div>
                                    <div class="text-center">
                                        <a href="@Url.Action("Index","Gastoes")">
                                            <i class="fas fa-arrow-circle-left"></i>&nbsp;Volver a la tabla
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </div>
</div>