<!DOCTYPE html>
<html lang="en">
<head>
    @Styles.Render("~/Content/StyleSheetCarrousel.css")

    @Styles.Render("~/Content/Site.css")

    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SITIO WEB KERMESSE</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/Site.css" />
    <!-- Datatable -->
    <link href="~/DataTables/DataTables-1.10.21/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- Datatable Buttons -->
    <link href="~/DataTables/Buttons-1.6.3/css/buttons.dataTables.min.css" rel="stylesheet">

</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">KERMESSE</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    @*           <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Imagenes</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
        <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

   

    <!-- Datatable -->
    <script src="~/DataTables/DataTables-1.10.21/js/jquery.dataTables.js"></script>

    <!-- Datatable Buttons -->
    <script src="~/DataTables/Buttons-1.6.3/js/dataTables.buttons.min.js"></script>

    <!-- Datatable Buttons Print -->
    <script src="~/DataTables/Buttons-1.6.3/js/buttons.html5.min.js"></script>
    <script src="~/DataTables/Buttons-1.6.3/js/buttons.print.min.js"></script>

    <!-- Datatable Buttons PDF -->
    <script src="~/DataTables/pdfmake-0.1.36/pdfmake.min.js"></script>
    <script src="~/DataTables/pdfmake-0.1.36/vfs_fonts.js"></script>

    <!-- Datatable Buttons Excel -->
    <script src="~/DataTables/JSZip-2.5.0/jszip.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>


    @RenderSection("Scripts", required: false)

</body>
</html>
