@model IEnumerable<SolucionKermesseGrupo2.Models.CategoriaGasto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutControladores.cshtml";
}

<head>
    @Styles.Render("~/Content/StyleSheetIndexCatGastos.css")
    @Styles.Render("~/Content/Site.css")
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Tabla Categoria Gastos</h2>
<p>
    @Html.ActionLink("Exportar a Pdf", "VerReporte", new { tipo = "PDF" }) <br />
    @Html.ActionLink("Exportar a Excel", "VerReporte", new { tipo = "Excel" }) <br />
    @Html.ActionLink("Exportar a Word", "VerReporte", new { tipo = "Word" })
</p>

<div id="Container">
    <div class="center">
        <table class="table" id="TblCatGastos">
            <tr>
                <th id="lblCatGastos1">
                    @Html.DisplayNameFor(model => model.nombreCategoria)
                </th>
                <th id="lblCatGastos2">
                    @Html.DisplayNameFor(model => model.descripcion)
                </th>
                <th id="lblCatGastos3">
                    @Html.DisplayNameFor(model => model.estado)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td id="ModelCatGasto1">
                        @Html.DisplayFor(modelItem => item.nombreCategoria)
                    </td>
                    <td id="ModelCatGasto2">
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td id="ModelCatGasto3">
                        @Html.DisplayFor(modelItem => item.estado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idCatGasto }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.idCatGasto }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idCatGasto })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

<br />
<div id="Container">
    <div class="center">
        <a class="btn btn-primary" id="BtnCrear" href="@Url.Action("Create")" role="button">Crear nuevo</a>
    </div>
</div>
    
<br />
<br />
<br />
<br />
<br />
<br />